.vagrant
ex/node_modules
vite-project/node_modules
vite-project/.vscode
.idea
/ex/prisma/db.sqlite
/ex/.env
/ex/prisma/db.sqlite-journal
/ex/static/generated/cards.json

data/cache/image_cache/*
data/cache/text_cache/*
